In [213]:
import pandas as pd

In [214]:
hdb_units = pd.read_csv("hdb-property-information.csv")
hdb_units.head()

,blk_no,street,max_floor_lvl,year_completed,residential,commercial,market_hawker,miscellaneous,multistorey_carpark,precinct_pavilion,...,3room_sold,4room_sold,5room_sold,exec_sold,multigen_sold,studio_apartment_sold,1room_rental,2room_rental,3room_rental,other_room_rental
0,1,BEACH RD,16,1970,Y,Y,N,N,N,N,...,138,1,2,0,0,0,0,0,0,0
1,1,BEDOK STH AVE 1,14,1975,Y,N,N,Y,N,N,...,204,0,2,0,0,0,0,0,0,0
2,1,CANTONMENT RD,2,2010,N,Y,N,N,N,N,...,0,0,0,0,0,0,0,0,0,0
3,1,CHAI CHEE RD,15,1982,Y,N,N,N,N,N,...,0,10,92,0,0,0,0,0,0,0
4,1,CHANGI VILLAGE RD,4,1975,Y,Y,N,N,N,N,...,54,0,1,0,0,0,0,0,0,0

In [215]:
hdb_units["address"] = hdb_units["blk_no"] + ", " + hdb_units["street"]
hdb_units["multistorey_carpark"] = hdb_units["multistorey_carpark"].apply(lambda x: 1 if x == "Y" else 0)
hdb_units.drop(hdb_units[hdb_units.bldg_contract_town == "CT"].index, inplace=True)

town_codes = {"AMK": "Ang Mo Kio", "BB": "Bukit Batok", "BD": "Bedok", "BH": "Bishan", "BM": "Bukit Merah", "BP": "Bukit Panjang", "BT": "Bukit Timah", "CCK": "Choa Chu Kang", 
              "CL": "Clementi", "GL": "Geylang", "HG": "Hougang", "JE": "Jurong East", "JW": "Jurong West", "KWN": "Kallang", "MP": "Marine Parade", "PG": "Punggol", 
              "PRC": "Pasir Ris", "QT": "Queenstown", "SB": "Sembawang", "SGN": "Serangoon", "SK": "Sengkang", "TAP": "Tampines", "TG": "Tengah", "TP": "Toa Payoh", 
              "WL": "Woodlands", "YS": "Yishun"}
hdb_units["town"] = hdb_units["bldg_contract_town"].apply(lambda town: town_codes[town])

In [216]:
hdb_units = hdb_units.loc[:, ["address", "multistorey_carpark", "town"]]

In [217]:
hdb_units = hdb_units.sample(100, random_state = 12, ignore_index = True)

In [218]:
import requests

api_key = "AIzaSyCfbRJX3HAzw1mb4ZwHsQCOf4XES8h0eFU"

def get_coordinates(address):
    print(address)
    response = requests.get('https://maps.googleapis.com/maps/api/geocode/json?address=' + address, params = {"key": api_key})
    resp_json_payload = response.json()
    return resp_json_payload['results'][0]['geometry']['location']["lat"], resp_json_payload['results'][0]['geometry']['location']["lng"]

# def get_coordinates2(address):
#     print(address)
#     response = requests.get('https://maps.googleapis.com/maps/api/geocode/json?address=' + address, params = {"key": api_key})
#     resp_json_payload = response.json()
#     return resp_json_payload

In [219]:
import re

def clean(address):
    address = re.sub(r"\bC'WEALTH\b", "COMMONWEALTH", address)
    address = re.sub(r"\bNTH\b", "NORTH", address)
    address = re.sub(r"\bDR\b", "DRIVE", address)
    address = re.sub(r"\bAVE\b", "AVENUE", address)
    address = re.sub(r"\bRD\b", "ROAD", address)
    address = re.sub(r"\bJLN\b", "JALAN", address)
    address = re.sub(r"\bTER\b", "TERRACE", address)
    return address

In [220]:
hdb_units["coordinate"] = hdb_units["address"].apply(lambda address: get_coordinates(clean(address)))

252, YISHUN RING ROAD
872A, TAMPINES ST 86
530A, PASIR RIS DRIVE 1
115, HO CHING ROAD
251, BANGKIT ROAD
36, CIRCUIT ROAD
460, CHOA CHU KANG AVENUE 4
124A, RIVERVALE DRIVE
205D, COMPASSVALE LANE
573, WOODLANDS DRIVE 16
575, PASIR RIS ST 53
687B, WOODLANDS DRIVE 75
274, JURONG WEST ST 25
450B, BT BATOK WEST AVENUE 6
42, JALAN BAHAGIA
224B, COMPASSVALE WALK
128, BEDOK RESERVOIR ROAD
422, FAJAR ROAD
705, ANG MO KIO AVENUE 8
107, BEDOK NORTH ROAD
784, YISHUN AVENUE 2
577, HOUGANG AVENUE 4
21, HOLLAND DRIVE
58, LENGKOK BAHRU
413, FERNVALE LINK
614, BEDOK RESERVOIR ROAD
232, PENDING ROAD
147, BISHAN ST 11
561B, JURONG WEST ST 42
422, SERANGOON CTRL
149, PETIR ROAD
111, ALJUNIED CRES
436, BT BATOK WEST AVENUE 5
717A, WOODLANDS DRIVE 70
551, CHOA CHU KANG ST 52
660A, JURONG WEST ST 64
637, BEDOK RESERVOIR ROAD
113, TAMPINES ST 11
425, BT BATOK WEST AVENUE 2
579, WOODLANDS DRIVE 16
770, CHOA CHU KANG ST 54
527, ANG MO KIO AVENUE 10
2, DOVER ROAD
759, PASIR RIS ST 71
231, SIMEI ST 4
133, BT BATOK WEST AVENUE 6
892C, WOODLANDS DRIVE 50
994C, BUANGKOK LINK
624A, ELIAS ROAD
681B, JURONG WEST CTRL 1
271, BT BATOK EAST AVENUE 4
422B, NORTHSHORE DRIVE
12A, BEDOK STH ROAD
547A, BEDOK NORTH AVENUE 1
221A, JURONG EAST ST 21
374, BT BATOK ST 31
72, MARINE DRIVE
412, SAUJANA ROAD
407, NORTHSHORE DRIVE
406, YISHUN AVENUE 6
107, PASIR RIS ST 12
101, TECK WHYE LANE
527A, WOODLANDS DRIVE 14
154, HOUGANG ST 11
712B, JURONG WEST ST 71
645, HOUGANG AVENUE 8
395, YISHUN RING ROAD
15, BEDOK STH ROAD
202A, TAMPINES ST 21
502, YISHUN ST 51
116, PENDING ROAD
700A, ANG MO KIO AVENUE 6
628, PASIR RIS DRIVE 3
290D, BT BATOK EAST AVENUE 3
580, PASIR RIS ST 53
280, SENGKANG EAST AVENUE
601C, TAMPINES AVENUE 9
217B, BOON LAY AVENUE
2, JALAN BT HO SWEE
39, SIN MING DRIVE
811A, CHOA CHU KANG AVENUE 7
234, SERANGOON AVENUE 3
407, YISHUN AVENUE 6
269A, YISHUN ST 22
201, BISHAN ST 23
351C, CANBERRA ROAD
756, YISHUN ST 72
3, MARINE TERRACE
419, WOODLANDS ST 41
894A, WOODLANDS DRIVE 50
149B, PASIR RIS ST 13
852, YISHUN ST 81
210, BOON LAY PL
327, TAMPINES ST 32
358, CLEMENTI AVENUE 2
451, HOUGANG AVENUE 10
3, CHANGI VILLAGE ROAD
237, TAMPINES ST 21
157, HOUGANG ST 11
122, TECK WHYE LANE

In [221]:
def get_lat(coordinate):
    return float(coordinate[0])

def get_long(coordinate):
    return float(coordinate[1])

hdb_units["lat"] = hdb_units["coordinate"].apply(get_lat)
hdb_units["long"] = hdb_units["coordinate"].apply(get_long)

In [222]:
hdb_units.drop("coordinate", axis = 1, inplace = True)

In [223]:
hdb_units.describe()

       multistorey_carpark         lat        long
count            100.00000  100.000000  100.000000
mean               0.08000    1.370228  103.840185
std                0.27266    0.037899    0.078874
min                0.00000    1.287346  103.696452
25%                0.00000    1.346138  103.768979
50%                0.00000    1.370237  103.846602
75%                0.00000    1.386909  103.904147
max                1.00000    1.451392  103.988440

In [224]:
hdb_units.head()

,address,multistorey_carpark,town,lat,long
0,"252, YISHUN RING RD",0,Yishun,1.434725,103.841021
1,"872A, TAMPINES ST 86",0,Tampines,1.355485,103.930827
2,"530A, PASIR RIS DR 1",0,Pasir Ris,1.370988,103.949704
3,"115, HO CHING RD",0,Jurong West,1.333703,103.724617
4,"251, BANGKIT RD",0,Bukit Panjang,1.380321,103.773723

In [228]:
hdb_units.groupby("town").count()

               address  multistorey_carpark  lat  long
town
Ang Mo Kio           3                    3    3     3
Bedok                7                    7    7     7
Bishan               3                    3    3     3
Bukit Batok          7                    7    7     7
Bukit Merah          2                    2    2     2
Bukit Panjang        6                    6    6     6
Choa Chu Kang        6                    6    6     6
Clementi             1                    1    1     1
Geylang              2                    2    2     2
Hougang              6                    6    6     6
Jurong East          1                    1    1     1
Jurong West          8                    8    8     8
Kallang              1                    1    1     1
Marine Parade        2                    2    2     2
Pasir Ris            9                    9    9     9
Punggol              2                    2    2     2
Queenstown           2                    2    2     2
Sembawang            1                    1    1     1
Sengkang             5                    5    5     5
Serangoon            2                    2    2     2
Tampines             7                    7    7     7
Woodlands            8                    8    8     8
Yishun               9                    9    9     9